# Revisión de bases de datos de defunciones

En este Notebook se realizan análisis de los datos de defunciones publicados en los [datos abiertos](http://www.dgis.salud.gob.mx/contenidos/basesdedatos/da_defunciones_gobmx.html) de la Secretaría de Salud. Este trabajo es parte de la investigación de Design for Vulnerables. Con el tratamiendo de esta información se busca identificar aquella información pertinente para estudiar las defunciones por localidades que se puedan relacionar con problemas medio ambientales.

## Importar librerías

In [1]:
import os
import sys

import pandas as pd
import geopandas as gpd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

module_path = os.path.abspath(os.path.join('../../'))
if module_path not in sys.path:
    sys.path.append(module_path)
    import aup

/home/vscode/anaconda3/envs/odc/lib/python3.10/site-packages/osmnx/utils.py:192: UserWarning: The `utils.config` function is deprecated and will be removed in a future release. Instead, use the `settings` module directly to configure a global setting's value. For example, `ox.settings.log_console=True`.
  warnings.warn(

## Carga de archivos

In [6]:
df_15 = pd.read_csv('../../data/external/defunciones_dfv/DEFUN_2015/conjunto_de_datos15/defunciones_generales_2015.csv')
print(df_15.shape)
df_15.head(5)

(655688, 59)

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,loc_ocurr,...,anio_cert,maternas,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax
0,1,1,1,1,15,1,1,1,15,1,...,2015,NaN,2,2,88,88,888,8888,0,999
1,1,1,1,1,15,1,1,1,15,1,...,2015,NaN,9,1,88,88,888,8888,0,999
2,1,1,1,1,15,1,1,1,15,1,...,2015,NaN,9,1,88,88,888,8888,0,999
3,1,1,1,1,15,1,1,1,15,1,...,2015,NaN,2,1,88,88,888,8888,0,999
4,1,1,1,1,15,1,1,1,15,1,...,2015,NaN,2,2,88,88,888,8888,0,999

## Filter data

In [8]:
mun_id = [51,38,19]
loc_id = [10,41,276]

In [10]:
df_15.loc[((df_15.ent_resid==8)&
         (df_15.mun_resid==mun_id[0])&
         (df_15.loc_resid==loc_id[0]))|
         ((df_15.ent_resid==8)&
         (df_15.mun_resid==mun_id[1])&
         (df_15.loc_resid==loc_id[1]))|
         ((df_15.ent_resid==8)&
         (df_15.mun_resid==mun_id[2])&
         (df_15.loc_resid==loc_id[2]))]

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,loc_ocurr,...,anio_cert,maternas,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax
78355,8,19,8,38,1,41,8,19,15,1,...,2015,NaN,2,2,88,88,888,8888,0,999
79397,8,51,8,51,2,10,8,51,2,10,...,2015,NaN,2,1,88,88,888,8888,0,999
79494,8,21,8,38,1,41,8,21,13,1,...,2015,NaN,2,2,88,88,888,8888,0,999
83369,8,21,8,38,1,41,8,21,13,1,...,2015,NaN,9,9,88,88,888,8888,0,999
85899,8,38,8,38,1,41,8,38,1,41,...,2015,NaN,9,2,88,88,888,8888,0,999
87037,8,19,8,38,1,41,8,19,15,1,...,2015,NaN,2,8,88,88,888,8888,0,999
87042,8,19,8,38,1,41,8,19,15,1,...,2015,NaN,2,8,88,88,888,8888,0,999
87043,8,19,8,38,1,41,8,19,15,1,...,2015,NaN,2,8,88,88,888,8888,0,999
87045,8,19,8,38,1,41,8,19,15,1,...,2015,NaN,2,8,88,88,888,8888,0,999
87108,8,21,8,38,1,41,8,21,13,1,...,2015,NaN,2,8,88,88,888,8888,0,999
87248,8,21,8,38,1,41,8,21,13,1,...,2015,NaN,2,9,88,88,888,8888,0,999
90572,8,19,8,51,2,10,8,47,1,7777,...,2015,NaN,9,1,99,88,888,8888,0,999
90748,8,21,8,38,1,41,8,21,13,1,...,2015,NaN,9,1,88,88,888,8888,0,999
91348,8,19,8,51,2,10,8,51,2,10,...,2015,NaN,2,2,88,88,888,8888,0,999
92055,8,21,8,38,1,41,8,21,13,1,...,2015,NaN,2,1,88,88,888,8888,0,999
93695,8,19,8,51,2,10,8,17,13,1,...,2015,NaN,9,1,88,88,888,8888,0,999
94097,8,19,8,38,1,41,8,21,13,1,...,2015,NaN,2,1,88,88,888,8888,0,999
94276,8,17,8,51,2,10,8,17,13,1,...,2015,NaN,2,2,88,88,888,8888,0,999
94463,8,19,8,51,2,10,8,51,2,10,...,2015,NaN,9,2,88,88,888,8888,0,999
95072,8,17,8,51,2,10,8,17,13,1,...,2015,NaN,2,1,88,88,888,8888,0,999
95604,8,51,8,51,2,10,8,51,2,10,...,2014,NaN,2,1,88,88,888,8888,0,999
96464,8,51,8,51,2,10,8,51,1,7777,...,2015,NaN,9,9,88,88,888,8888,0,999
96474,8,51,8,51,2,10,8,51,1,7777,...,2015,NaN,9,9,88,88,888,8888,0,999
97792,8,19,8,51,2,10,8,51,2,10,...,2015,NaN,2,2,88,88,888,8888,0,999
98129,8,38,8,38,1,41,8,38,1,41,...,2015,NaN,9,2,88,88,888,8888,0,999